:root {
  --arrowleft : 25%;
  --closeright: 0;
}

.ThreeDContainer {
  position       : absolute;
  bottom         : 30px;
  left           : 30%;
  width          : 40%;
  z-index        : 101;
  // height: 550px;
  overflow       : hidden;
  display        : flex;
  flex-direction : column;
  // align-items: center;
  justify-content: center;

  .dialogArrow {
    position        : relative;
    width           : 5%;
    height          : 0%;
    border          : 20px solid transparent;
    border-top-color: rgba(81, 161, 201, 0.6);
    top             : -20%;
    left            : var(--arrowleft);
    margin-bottom   : -15px;
  }

  .kongxin {
    position        : relative;
    width           : 5%;
    height          : 0%;
    border          : 20px solid transparent;
    border-top-color: rgba(11, 20, 35, 1);
    top             : -20%;
    left            : var(--arrowleft);
    margin-bottom   : -15px;
    margin-top      : -26px;
  }

  .dynamicFlood {
    // width: 50%;
    // height: 246px;
    overflow       : hidden;
    display        : flex;
    align-items    : center;
    justify-content: center;
    background     : rgba(11, 20, 35, 0.8);
    border         : 1px solid rgba(81, 161, 201, 0.6);
  }

  .staticFlood {
    width          : 60%;
    // height: 180px;
    overflow       : hidden;
    display        : flex;
    align-items    : center;
    justify-content: center;
    background     : rgba(11, 20, 35, 0.8);
    border         : 1px solid rgba(81, 161, 201, 0.6);
    margin-left    : 20%;
  }

  .RegionSimulateFlood {
    overflow       : hidden;
    display        : flex;
    align-items    : center;
    justify-content: center;
    background     : rgba(11, 20, 35, 0.8);
    border         : 1px solid rgba(81, 161, 201, 0.6);
  }

  .SimulateFlood {
    overflow       : hidden;
    display        : flex;
    align-items    : center;
    justify-content: center;
    background     : rgba(11, 20, 35, 0.8);
    border         : 1px solid rgba(81, 161, 201, 0.6);
  }

  .closeelformbtn {
    position: absolute;
    right   : var(--closeright);
    top     : 0;
    height  : 40px;
    width   : 40px;
    cursor  : pointer;
  }

  .threedbutton {
    // width: 50%;
    height         : 50px;
    overflow       : hidden;
    display        : flex;
    align-items    : center;
    justify-content: center;

    .bg {
      color           : #fff;
      background-color: #003354;
      border          : 2px solid rgba(0, 242, 255, 1);
      border-radius   : 4px;
    }
  }

  .el-button {
    background-color: #003354;
    border          : 2px solid rgba(0, 104, 125, 1);
    border-radius   : 4px;
    color           : rgba(46, 126, 204, 1);
  }

  .elformbtn {
    // background-color: #003354;
    color        : rgba(0, 220, 234, 1);
    border       : 1px solid rgba(0, 242, 255, 1);
    border-radius: 14px;
    opacity      : 0.6;
  }

  .el-input__inner {
    color           : #C0C4CC;
    background-color: #003354;
    border          : 1px solid #1087DD;
  }

  .el-input.is-disabled .el-input__inner {
    background-color: #003354;
    border-color    : #1087DD;
  }

  .el-form {
    width        : 95%;
    margin-top   : 3%;
    margin-bottom: 3%;
  }

  .el-form-item__label {
    color: #0DD4F2;
  }

  .ThreeDContainer .el-input {
    width: 88%;
  }

  .el-input {
    width: 88%;
  }

  .el-checkbox {
    width              : 88%;
    color              : #C0C4CC;
    // background-color: #003354;
    // border: 1px solid #1087DD;
  }

  .el-select {
    width: 100%;
  }

  .el-form-item {
    margin-bottom: 20px;
    color        : rgba(0, 242, 255, 1);
  }
}

.select-option .el-select-dropdown__list .hover {
  background-color: #5AB4FF !important;
}
