:root {
  --arrowleft : 25%;
  --closeright: 0;
}

.ThreeDContainer {
  position : absolute;
  bottom   : 30px;
  left     : 50%;
  transform: translateX(-50%);

  .tframe {
    overflow       : hidden;
    display        : flex;
    align-items    : center;
    justify-content: center;
    background     : rgba(11, 20, 35, 0.8);
    border         : 1px solid rgba(81, 161, 201, 0.6);
  }

  .el-button {
    background-color: #003354;
    border          : 2px solid rgba(0, 104, 125, 1);
    border-radius   : 4px;
    color           : rgba(46, 126, 204, 1);
  }

  .elformbtn {
    // background-color: #003354;
    color        : rgba(0, 220, 234, 1);
    border       : 1px solid rgba(0, 242, 255, 1);
    border-radius: 14px;
    opacity      : 0.6;
  }

  .el-input__inner {
    color           : #C0C4CC;
    background-color: #003354;
    border          : 1px solid #1087DD;
  }

  .el-input.is-disabled .el-input__inner {
    background-color: #003354;
    border-color    : #1087DD;
  }

  .el-form {
    width        : 95%;
    margin-top   : 3%;
    margin-bottom: 3%;
  }

  .elformbtns {
    >.el-form-item__content {
      margin-left: 0 !important;
    }
  }

  .el-form-item__label {
    color: #0DD4F2;
  }

  .ThreeDContainer .el-input {
    width: 88%;
  }

  .el-input {
    width: 88%;
  }

  .el-checkbox {
    width              : 88%;
    color              : #C0C4CC;
    // background-color: #003354;
    // border: 1px solid #1087DD;
  }

  .el-select {
    width: 100%;
  }

  .el-form-item {
    margin-bottom: 0px;
    color        : rgba(0, 242, 255, 1);
  }
}

.select-option .el-select-dropdown__list .hover {
  background-color: #5AB4FF !important;
}
